spring:
  docker:
    compose:
      enabled: true
      file: "application/compose.yaml"
  modulith:
    events:
      jdbc-schema-initialization:
        enabled: true
        platform: mysql
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 2000