server:
  port: 8080

spring:
  modulith:
    events:
      jdbc-schema-initialization:
        enabled: true
        platform: mysql

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://mysql:3306/lxp?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul
    username: lxp
    password: lxp